.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 5vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    color: #fff;
  }
}

.App-footer {
  background-color: #808080;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.credits a,
.credits {
  font-size: 0.95em;
  height: 5%;
  text-decoration: none;
  border: none;
  color: #fff;
  padding-bottom: 1em;
}
